.body-match{
    margin:0;
    padding:0;
    min-height: 60vw;
    max-height: 70vw;
    background: linear-gradient(90deg, rgba(202, 201, 223, 0.75) 0%, rgba(40, 40, 159, 0.95) 0%, rgba(28, 92, 188, 0.75) 30%, rgba(0, 212, 255, 0.75) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover !important;
}

.no-result {
    max-width: 20%;
    height: auto !important;
    margin-bottom: 20px;
}
p {
    font-size: larger;
}

.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    margin-top: 15px;
    border-radius: 20%;
}
.card-images{
    margin-top: 5% !important;
}

.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.other-input-match {
margin-top: 6px !important;
margin-left: 6px !important;
width: 10% !important;
border:0.02px grey solid;
}

.handover-btn{
    width: 175px;
    margin-bottom: 20px !important;
}

      
.update-item-button:hover{
        background:rgb(29, 141, 227);
        color: white;
}
.btn-handoff-options{
    margin-top: 6px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(330deg) brightness(100%) contrast(100%);
}

