body{
  letter-spacing: 0.5px;
  background: linear-gradient(90deg, rgba(202, 201, 223, 0.75) 0%, rgba(40, 40, 159, 0.95) 0%, rgba(28, 92, 188, 0.75) 30%, rgba(0, 212, 255, 0.75) 100%);
  height: 100%;
}

.surrounding-box {
    background: whitesmoke;
    border-radius: 2rem;
    margin: 2em 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden; 
}

#requestLostItem a, #reportFoundItem a {
  line-height: 3;
  font-size: 1.5rem;
  color: rgb(255, 251, 251);
  background-color: rgb(29, 141, 227);
  margin-top: 2.2em;
  margin-right: -20%;
  width: 65%;
  border-radius: 1rem;
}

#requestLostItem a:hover, #reportFoundItem a:hover {
  font-size: 1.6rem;
}

.item-list {
    border-radius: 1.5em;
    background: white;
    max-height: 70vh;
    overflow-y: auto;
    margin-top: -30px;
}

.item-tabs {
    top: 0;
    z-index: 100;
    font-size: large;
}

.items-link {
    color: rgb(29, 141, 227) !important;
    padding-left: 2%;
}

.items-link.active {
  color: rgb(29, 141, 227) !important;

}

.no-result {
  width: 100px !important;
  height: 150px !important;
  margin-bottom: 20px;
}

.no-results-text {
  font-size: medium;
}