.body-request-found {
    margin:0;
    padding:0;
    background-color: lightskyblue !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   }

#requestfounditem-card {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 25px 50px;
  border-radius: 25px;
  align-items: left;
  aspect-ratio: 100/29;
}

.other-input {
  width: 60%;
  border:0.02px grey solid;
}