#Logo-navbar {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0px rgb(54, 200, 249) solid;
  border-radius: 0.5em;
  font-size: 1.5em;
  font-weight: 900;
  margin: 3px;
  margin-bottom: 3px;
  }

.nav {
    background: transparent !important;
    color: rgb(0, 16, 122);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    border-bottom: rgb(29, 141, 227);
    border-bottom: 1.5px solid rgb(29, 141, 227);
  }
  
  
  .nav ul {
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .nav li.active {
    background-color: #ffffff33;
  }
  
  .nav li:hover {
    font-weight: 700;
  }
  