body {
    margin:0;
    padding:0;
    background-image: url("../../../assets/img/login_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   }

.container {
    position: absolute;
    color: yellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.root {
  margin: auto;
  margin-top: 150px;
}

.root .card {
  position: absolute;
    color: yellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  padding: 25px 50px;
  border-radius: 25px;
  align-items: center;
}

#Logo {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(202,201,223);
  background: linear-gradient(90deg, rgba(202,201,223,1) 0%, rgba(40,40,159,1) 0%, rgba(28,92,188,1) 30%, rgba(0,212,255,1) 100%);
  border: 0px rgb(54, 200, 249) solid;
  border-radius: 0.5em;
  font-size: 3.25em;
  font-weight: 900;
  margin: 25px;
  margin-bottom: 50px;
}

.card p {
  width: 675px;
  font-size: 22px;
  font-weight: 325;
  color:black;
  margin-bottom: 25px;
}

.card button {
  position: center;
  color: white;
  background:rgb(69, 171, 205);
  border-radius: 2em;
  width: 125px;
  padding: 12px 17px; 
  font-size: 18px;
  font-weight: 700;
  margin: 25px 5px;
}
.card button:hover{
  background:rgb(29, 141, 227);
  color: white;
}